.main-nav {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
    /* justify-content: center; */
    
}

.block-pics {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 20% 30% 20%;
    justify-content: center;
}

body {
    font-family: Helvetica;
    color: #02394A;
    background-color: #F2D492;
}
.block-pics {
    background-color: #02394A;
}

figure{
    border: thin #09BC8A solid;
    background-color: #02394A;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    /* max-height: 300px; */
    margin: auto;
    color: #09BC8A;
}
.blank {
    border: none;
}

header {
    background-color: #02394A;
    border: chartreuse;
}

img {
    max-width: 1080px;
    max-height: 1080px;
    object-fit: cover;
    /* min-width: 205px; */
}

.social-links {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
}

.social-links a {
    padding: 3px;
}

li {
    list-style: none;
    padding: 0.75cm;
}

li a {
    font-weight: 700;
    text-decoration: none;
    color: #09BC8A;
}

li a:hover {
    text-decoration: underline;
}

.footer-quote {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #75DDDD;
}

footer {
    background-color: #75DDDD;

}
.footer-quote {
    align-content: center;
}

nav {
    background-color: #F29559;
}